*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    background-color: white;
    border-radius: 40px;
    height: 60px;
    width: 60px;
    text-align: center;
    color: black;
    z-index: 1001;
    position: fixed;
    line-height: 60px;

}

.a1{  
    top: 10px;
    right: 250px;
   
}

.a2{
    top: 10px;
    right: 150px;
   
}

.a3{ 
    top: 10px;
    right: 50px;
   
}

.container{
    position: relative;
}

.red{
    background-color: darkred;
    height: 100vh;
    position: relative;
}

.green{
    background-color: darkgreen;
    height: 100vh;
    position: relative;
}

.yellow{
    background-color: rgb(167, 167, 0);
    height: 100vh;
    position: relative;
}

/*  */

.uno{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    font-size: 80px;
    text-align: center;
    color: yellow;
}

img{
    width: 80%;
    height: 80%;
}

.due{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    font-size: 80px;
    text-align: center;
    color: yellow;
}

.tre{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    font-size: 80px;
    text-align: center;
    color: green;
}