*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    position: relative;
}

.red{
    background-color: darkred;
    height: 100vh;
    position: relative;
}

.green{
    background-color: darkgreen;
    height: 100vh;
    position: relative;
}

.yellow{
    background-color: rgb(167, 167, 0);
    height: 100vh;
    position: relative;
}

.img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 700px;
    height: 400px;

}

.text-logo{
    text-align: center;
    font-size: 100px;
}

.uno{
    background-image: url("../img/01.png");
    background-size: cover;
}

.due{
    background-image: url("../img/02.png");
    background-size: cover;
}

.tre{
    background-image: url("../img/03.png");
    background-size: cover;
}